header {
    background: #f5f5f5;
}
.container {
    max-width: 1520px;
    margin: 0 auto;
}
.header-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-header {
    display: grid;
    grid-template-columns: repeat(4, 4fr) repeat(3, 2fr);
    grid-template-rows: 1fr;
    min-height: 93px;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
@media screen and (max-width: 1200px) {
    .grid-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        grid-template-rows: 5hv;
        row-gap: 2vh;
        padding: 3vh 3vw 3vh 3vw;
    }
}
.header_item {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    color: #1d1818;
}
.header_item:first-child {
    background: url("../assets/image/header/logo1.svg") no-repeat left;
}
.header_item:nth-child(4) {
    font-weight: 700;
    font-size: 1.6em;
}
.header_item:nth-child(1n + 5) img {
    display: block;
    margin: auto;
}
.header_item button {
    margin-top: 10px;
    margin-left: 25px;
    width: 177px;
    min-height: 35px;
    border: 1px solid #e13b3f;
    border-radius: 5px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: #e13b3f;
}
.header_item button:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 2px 8px #444;
}
.header_item input {
    border: 1px solid #a8d1e7;
    border-radius: 25px;
    width: 296px;
    height: 45px;
    color: #626262;
    padding-left: 20px;
    background: url("../assets/image/header/search_icon.png") no-repeat 95%;
}
.header_item a {
    text-decoration: none;
    color: black;
}
.header_item:nth-child(2) a {
    color: #e13b3f;
    text-decoration: underline;
}

.nav {
    background: #a8d1e7;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap:wrap;
}
.nav-menu a {
    padding: 4vh 1vw 4vh 1vw;
    justify-self: center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1.35em;
    color: black;
    text-decoration: none;
    margin-right: 2vw;
}
.nav-menu a:hover {
    color: #999999;
}
.nav-menu a:last-child {
    box-sizing: border-box;
    color: #ffffff;
    background: #384685;
    border-radius: 5px;
    margin-right: 0;
}
/*Section-1*/
h1,
h2 {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    padding: 54px 0 34px 0;
    color: #000000;
}
.section-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.section-1_item {
    padding: 2vh 1vw 2vh 1vw;
    margin-top: 1vh;
    text-align: center;
    align-self: center;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    background: #f4f4f4;
    border-radius: 5px;
    min-width: 320px;
    min-height: 80px;
}
/*Section2*/
.section-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(357px, 1fr));
    grid-template-rows: 238px 238px;
    row-gap: 39px;
    column-gap: 30px;
    height: 30hv;
}
.section-2_item,
.section-3_item {
    border-radius: 10px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.065em;
}
.section-2_item a,
.section-3_item a {
    text-decoration: none;
    color: #ffffff;
    background-color: #384685;
    border-radius: 0px 0px 0px 10px;
    display: block;
    width: fit-content;
    margin-top: 213px;
}
.section-2_item a:hover {
    color: #1d1818;
    font-weight: bolder;
}
.section-2_item:nth-child(1) {
    background: url("../assets/image/main/kitchen.jpg") no-repeat;
}
.section-2_item:nth-child(2) {
    background: url("../assets/image/main/living-room.jpg") no-repeat;
}
.section-2_item:nth-child(3) {
    background: url("../assets/image/main/bedroom.jpg") no-repeat;
}
.section-2_item:nth-child(4) {
    background: url("../assets/image/main/hallway.jpg") no-repeat;
}
.section-2_item:nth-child(5) {
    background: url("../assets/image/main/wardrobe.jpg") no-repeat;
}
.section-2_item:nth-child(6) {
    background: url("../assets/image/main/children.jpg") no-repeat;
}
.section-2_item:nth-child(7) {
    background: url("../assets/image/main/sofa.jpg") no-repeat;
}
.section-2_item:nth-child(8) {
    background: url("../assets/image/main/table_chair.jpg") no-repeat;
}
@media screen and (max-width: 1131px) {
    .section-2 {
        margin-left: 110px;
    }
}
@media screen and (max-width: 854px) {
    .section-2 {
        margin-left: 3%;
    }
}
/*Section3*/
.section-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    min-height: 760px;
    gap: 12px;
}
.section-3_item:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background: url("../assets/image/main/gletcher_kitchen.jpg") no-repeat 50%;
}
.section-3_item:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background: url("../assets/image/main/denver.jpg") no-repeat 50%;
}
.section-3_item:nth-child(4) {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
    background: url("../assets/image/main/london-kitchen.jpg") no-repeat 50%;
}
.section-3_item:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background: url("../assets/image/main/ameli_kitchen.jpg") no-repeat;
}
.section-3_item a {
    margin-top: 350px;
}
.section-3_item:last-child a {
    margin-top: 740px;
}
@media screen and (max-width: 1023px) {
    .section-3_item:nth-child(4) {
        display: none;
    }
    .section-3{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 767px){
    .section-3{
        grid-template-columns: 1fr;
    }
    .section-3_item:nth-child(3) {
        display: none;
    }
    .section-3_item:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    
}
.instagram img{
    display:block;
    margin:auto;
    max-width: 100%;
}
